{% extends 'layout.html' %} {% block body %}
<div class="container text-light text-center">
	<h2>welcome to the Expense Tracker System!:</h2>
	<h5>Login into your account after registering.</h5>
	<h5>We are truly thrilled to help you take control of your own finances with our really simple, easy-to-use tool. Be it everyday expenses, cap for budget limits, or creating insightful reports, our system is tailor-made for your financial need. Plus, with features like secured user login, full-spectrum expense management, and multiple-user support, you will have everything at your disposal to understand and better your spending habits. Start your journey toward better financial health today and make confident, informed decisions!.</h5>
</div>
{% endblock %}
